html,body {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
}
nav {
  min-height: 50px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  border-width: 0 0 1px;
  background-color: #222;
  border-color: #080808;
  opacity: 1;
  z-index: 100;
  color: white;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;

    ul {
      display: flex;

      @media screen and (max-width: 768px){
        display: none;
        margin-left: -57px;
      }

      li {
        margin: 0 20px;
        list-style: none;


      }
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;

  @media screen and (max-width: 768px){
    display: block;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

}
.change {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
  }

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

section {
  display: flex;
  flex-flow: column;
  margin-bottom: 0;
  overflow: hidden;
}

.text {
  display: flex;
  align-items: center;
}

.text {
  padding-bottom: 20px;
}

.section-dark {
  background-color: #21252b;
  color: #9da5b4;
  flex-flow: column-reverse;
}

.img > img {
  height: 100%;
  width: 100%;
}

h3 {
  text-transform: uppercase;
}

.parallax {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 750px;
}

.parallax .ptext {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.parallax .ptext .border {
  background-color: #111111;
  color: #ffffff;
  padding: 20px;
}

.left {
  padding-left: 10px;
  padding-right: 10px;
}

.right {
  padding-left: 10px;
  padding-right: 10px;
}

.read-more {
  text-decoration: none;
  color: #ccc;
  border-bottom: 2px solid #ccc;
}

/* Pop Up overlay */
.popup {
  display: none;
  position: fixed;
  padding: 20px;
  width: 100%;
  //left: 50%;
  //margin-left: -150px;
  height: 100%;
  top:0;
  transition: opacity 500ms;
  //margin-top: -100px;
  background-color: transparent;
  z-index: 20;
}

#popup1 {
  box-shadow: 0px 0px 0px 9999px rgba(0,0,0,0.5);
}

.popups:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

.popups:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

.popup-container {
  padding: 100px;
}

/* Pop up End */

.form-container {
  margin: 0 auto;
  text-align: center;

  .submit-button {
    margin: 10px 0;
    width: 100%;
    background-color: #000;
    color: #FFFFFF;
    height: 35px;
    border: none;
  }
}

.form-item {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid;
  margin: 10px 0;
  padding: 5px;
  background-color: transparent;
}

footer {
  display: flex;
  background-color: black;
  color: #FFFFFF;
  justify-content: center;
}
@media screen and (min-width:1024px) {

  section {
    flex-flow: row;
  }

  .section-dark {
    flex-flow: row;
  }


  .parallax .ptext{
    font-size: 27px;
    letter-spacing: 8px;
  }
  .text {
    padding-bottom: 0;
  }

  .left {
    padding-left: 250px;
    padding-right: 60px;
  }

  .right {
    padding-left: 60px;
    padding-right: 250px;
  }

  .img > img {
    width: auto;
  }
}
